section 
{
    background-color: #E0DCCC;
}

body 
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header 
{
    background-color: #594b3e;
    color: #E0DCCC;
}

footer 
{
    background-color: #594b3e;
    color: #fff;
    font-size: 1rem;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.logo
{
    position:absolute;    
    display: inline-block;
    transition: transform 0.3s ease;
    display: inline-block;
    animation: shake 1.2s ease-in-out; /* Duración y tipo de animación */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
.negocio 
{
    margin-left: 70px;
    margin-bottom: 0%;
    position: relative;
    font-size: 2.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Fuente */
    color: #A3A65D;
    cursor:default;
    transition: 0.5s;
}

/* Estilo personalizado para los enlaces dentro del header */
header .navbar-nav .nav-link {
    color: #fff; /* Cambia el color del texto de los enlaces a blanco */
    text-decoration: none; /* Quita el subrayado */
}

/* Estilo cuando se pasa el cursor sobre el enlace */
header .navbar-nav .nav-link:hover {
    color: #9E8064; /* Cambia el color del texto a #9E8064 cuando se pasa el cursor */
}

/* Estilo para los íconos en los enlaces */
header .navbar-nav .nav-link img {
    margin-right: 8px; /* Añade un margen a la derecha para separar el ícono del texto */
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.rounded
{
    width: 200px;
    height: 200px;
    padding: 10px;
    transition: 0.5s;
}

.rounded:hover{
    transform: scale(0.90);
}

h2
{
    position: fixed;
}